h1 {
	font-family:Verdana, sans-serif;
	font-size: 13px;
	padding-bottom: 6px;
	text-align: left;

}

p {
	font-family:Verdana, sans-serif;
	font-size: 12px;
	text-align: left;
}

a {
    color: #00247D;
    text-decoration: underline;
}

a:visited {
    color: #00247D;
    text-decoration: underline;
}

a:focus, a:hover, a:active {
    color: #F39800;
    text-decoration: underline;
}

select {
	max-width: 480px;
}

.outer_container {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -320px; 
	margin-top: -200px; 
}

.wayf_box {
	width:600px;
	text-align: center;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 8px #999999;
	border-radius: 13px;  
	-webkit-box-shadow: 1px 1px 8px #999999;
	-webkit-border-radius: 13px;
	-moz-box-shadow: 1px 1px 8px #999999;
	-moz-border-radius: 13px;
	overflow: hidden;
	padding: 24px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=0, Strength=5)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=45, Strength=4)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=90, Strength=5)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=135, Strength=4)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=180, Strength=5)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=225, Strength=4)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=260, Strength=5)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=305, Strength=4);
}

.header {
	width: 100%;
}

.menu {
	width: 100%;
    padding-left: 2px;
	margin-top: 10px;
	margin-left: 0;
	float: left;
	background: url("{$imageURL}/dual_line.gif") repeat-x scroll 0 100% transparent;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	line-height: 45px;
}


.menu li {
	float: left;
	list-style:none;
	line-height:35px;
	margin-right:10px;
}

.menu li.last {
	background: url("{$imageURL}/separator.gif") no-repeat scroll left center transparent;
	padding-left: 8px;
	float: left;
	list-style:none;
}

.content {
	width: 100%;
	float:left;
}

.aai_logo {
	float:left;
	margin-top: 32px;
	margin-left: 2px;
	border:0;
}

.switch_logo {
	float:right;
	border:0;
}

.login_field {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #F0F0F0;
	border-color: #969696;
	border-width: 1px;
	border-style: solid;
	padding: 6px;
}

.selectedIdP
{
	font-family:Verdana, sans-serif;
	font-size: 13px;
	width: 380px;
	background-color: white;
	border-color: black;
	border-style: solid;
	margin: 2px;
	border-width: 1px;
	text-align: center;
}